<!--This site prints the detailed data for a given block hash-->

{% extends 'base.html'%}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

    <h2> Detailed data, block's hash: {{hash}} </h2><br/><br/>
    <div class="card">
        <div class="card-header">
        Data of the hash, given for the block {{ticket_to_print.hash}}
        </div>
        <div class="card-body">
          <p class="card-text">    
            <strong> First Name: </strong>{{ticket_to_print.name}}</br>
            <strong> Last Name: </strong> {{ticket_to_print.surname}}</br>
            <strong> PESEL (hash): </strong> <a href = "{{url_for('get_pesel_data', hash = ticket_to_print.pesel)}}">{{ticket_to_print.pesel}}</a></br>
            <strong> Officer's badge number (hash): </strong> <a href = "{{url_for('get_badge_data', hash = ticket_to_print.badge)}}">{{ticket_to_print.badge}}</a></br>
            <strong> Ticket Value: </strong> {{ticket_to_print.amount}}</br>
            <strong> Penalty points: </strong> {{ticket_to_print.pen_points}}</br>
            <strong> The date of the ticket issue: </strong> {{ticket_to_print.date_added}}</br></p>
          <a href="{{url_for('get_all_tickets')}}" class="btn btn-secondary btn-sm">Back</a>
        </div>
      </div>
    </br>
    </div>
{% endblock %}