{% extends 'base.html'%}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

    <h2> Dane szczegółowe dla osoby o PESELu {{pesel}} </h2><br/><br/>
    <div class="card">
        <div class="card-header">
        {{imie}} {{nazwisko}}
        </div>
        <div class="card-body">
            <table class="table table-hover table-danger">
                <tr>
                <th> Hash odznaki policjanta | Kwota mandatu | Liczba punktów karnych | Data dodania mandatu do łańcucha  </th>
                </tr>
            </table>
            <table class="table table-hover table-danger">
                {% for ticket in ticket_to_print %}
                <tr>
                <td> {{ticket.badge}} | {{ticket.amount}} | {{ticket.pen_points}} | {{ticket.date_added}} </br></td>
                </tr>
                {% endfor %}
            </table>
          <a href="{{url_for('fill_ticket')}}" class="btn btn-secondary btn-sm">Powrót</a>
        </div>
      </div>
    </br>
    </div>
{% endblock %}