<!--This site prints the detailed data for a given block hash-->

{% extends 'base.html'%}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

    <h2> Details of the block with hashcode: {{hash}} </h2><br/><br/>
    <div class="card">
        <div class="card-header">
        Details of the block with hashcode {{ticket_to_print.hash}}
        </div>
        <div class="card-body">
          <p class="card-text">    
            <strong> Name: </strong>{{ticket_to_print.name}}</br>
            <strong> Surname: </strong> {{ticket_to_print.surname}}</br>
            <strong> PESEL (hashcode): </strong> <a href = "{{url_for('get_pesel_data', hash = ticket_to_print.pesel)}}">{{ticket_to_print.pesel}}</a></br>
            <strong> Number of the badge (hash): </strong> <a href = "{{url_for('get_badge_data', hash = ticket_to_print.badge)}}">{{ticket_to_print.badge}}</a></br>
            <strong> Fine amount (in PLN): </strong> {{ticket_to_print.amount}}</br>
            <strong> Number of penalty points: </strong> {{ticket_to_print.pen_points}}</br>
            <strong> Date of ticket addition: </strong> {{ticket_to_print.date_added}}</br></p>
          <a href="{{url_for('get_all_tickets')}}" class="btn btn-secondary btn-sm">Return</a>
        </div>
      </div>
    </br>
    </div>
{% endblock %}