<!--This site prints the detailed data for a given badge number hash-->

{% extends 'base.html'%}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
<!--Check whether the badge number is in database-->
{% if badge %}
    <h2> Details about policeman with badge number {{badge}} </h2><br/><br/>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PESEL hashcode</th>
            <th scope="col">Fine amount (PLN)</th>
            <th scope="col">Number of penalty points</th>
            <th scope="col">Date of ticket addition to the blockchain</th>
          </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
          <tr>
            <td>{{ticket.pesel}}</td>
            <td>{{ticket.amount}}</td>
            <td>{{ticket.pen_points}}</td>
            <td>{{ticket.date_added}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{{url_for('get_all_tickets')}}" class="btn btn-secondary btn-sm">Return</a>
    </br>
{%else%}
    <h2> No data in database refers to badge with hashcode {{hash}} </h2>
    <a href="{{url_for('get_hash')}}" class="btn btn-secondary btn-sm">Return</a>
{%endif%}
{% endblock %}