<!--This is the 'hash' page-->

{% extends 'base.html'%}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
<!--If the form is filled then print the hash and give user the opportunity to find information about hashed numbers in databases-->
{%if hash %}
    <h1> Hashing </h1>

    For the number <strong>{{number}}</strong> hash equals to <strong>{{hash}}</strong>. </br>

    Do you want to see details about this hash? If yes, is it hash about a badge or PESEL? </br></br>

    <a href="{{url_for('get_badge_data', hash = hash)}}" class="btn btn-secondary btn-sm">Badge</a>   <a href="{{url_for('get_pesel_data', hash = hash)}}" class="btn btn-secondary btn-sm">PESEL</a>

    </br></br>

    <a href="{{url_for('get_hash', hash = None)}}" class="btn btn-secondary btn-sm">Clear the form</a>

{%else%}

    <h1> Hashing </h1><br/><br/>
    </br>
    </br>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.number.label(class="form-label") }}
        </br>
        {{ form.number(class="form-text") }}
        </br>
        </br>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
    </div>
    </br>
{%endif%}
{% endblock %}