{% extends 'base.html'%}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

{%if hash %}
    <h1> Hashowanie </h1>

    Dla numeru <strong>{{number}}</strong> hash wynosi <strong>{{hash}}</strong>. </br>

    Czy chcesz przejść do danych szczegółowych dotyczących tego hasha? Jeśli tak, hash dotyczy odznaki czy peselu? </br></br>

    <a href="{{url_for('get_badge_data', hash = hash)}}" class="btn btn-secondary btn-sm">Odznaka</a>   <a href="{{url_for('get_pesel_data', hash = hash)}}" class="btn btn-secondary btn-sm">PESEL</a>  

    </br></br>

    <a href="{{url_for('get_hash', hash = None)}}" class="btn btn-secondary btn-sm">Wyczyść formularz</a> 

{%else%}

    <h1> Hashowanie </h1><br/><br/>
    </br>
    </br>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.number.label(class="form-label") }}
        </br>
        {{ form.number(class="form-text") }}
        </br>
        </br>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
    </div>
    </br>
{%endif%}
{% endblock %}